## !.mvn/wrapper/maven-wrapper.jar
## !**/src/main/**/target/
## !**/src/test/**/target/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.pydevproject
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

### VS Code ###
.vscode/

### Maven ###
log/
target/
dist/
target/
.mvn/
mvn*

### Package Files ###
*.jar
*.war
*.ear
*.db


### Directories ###
/build/
/bin/
/deploy/

### Logs ###
*.log

### Others ###
*.class
*.*~
*~
.merge_file*

### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar

### ESLint ###
.eslintcache